body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 800px;
}

.title-text-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title-primary {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  font-size: 32px;
}

.title-secondary {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-size: 32px;
  margin-top: -15px;
}

.text-body {
  text-align: center;
  color: hsl(229, 6%, 66%);
  font-size: 15px;
  font-weight: 400;
  max-width: 500px;
  margin: auto;
}

.cards-container {
  margin: auto;
  display: flex;
  max-width: 1100px;
}

.cards-col {
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
  margin: 16px;
  padding: 0 25px 10px 25px;
  box-shadow: 0px 12px 32px -7px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.colorbar {
  height: 4px;
  width: 320px;
}

#cyan {
  background: hsl(180, 62%, 55%);
}

#red {
  background: hsl(0, 78%, 62%);
}

#orange {
  background: hsl(34, 97%, 64%);
}

#blue {
  background: hsl(212, 86%, 64%);
}

.card-title {
  align-self: flex-start;
}

.card-text {
  margin-top: -12px;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  font-size: 13px;
}

.card-image {
  align-self: flex-end;
  margin-top: 30px;
}
