html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 66.99rem) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .title-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .title-primary {
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    font-size: 2.5rem;
  }

  .title-secondary {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 2.5rem;
    margin-top: -1rem;
  }

  .text-body {
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 30rem;
    margin: auto;
  }
}

@media screen and (min-width: 67rem) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: 95vh;
    max-height: 80rem;
  }

  .title-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .title-primary {
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    font-size: 3.6rem;
  }

  .title-secondary {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 3.6rem;
    margin-top: -1.5rem;
  }

  .text-body {
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 50rem;
    margin: auto;
  }

  .cards-container {
    margin: auto;
    display: flex;
    max-width: 110rem;
  }
}

.cards-col {
  width: 35rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 22rem;
  margin: 1.6rem;
  padding: 0 2.5rem 1rem 2.5rem;
  box-shadow: 0 1.2rem 3.2rem -0.7rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.colorbar {
  height: 0.4rem;
  width: 32rem;
}

#cyan {
  background: hsl(180, 62%, 55%);
}

#red {
  background: hsl(0, 78%, 62%);
}

#orange {
  background: hsl(34, 97%, 64%);
}

#blue {
  background: hsl(212, 86%, 64%);
}

.card-title {
  font-size: 2rem;
  align-self: flex-start;
}

.card-text {
  margin-top: -1.2rem;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  font-size: 1.3rem;
}

.card-image {
  align-self: flex-end;
  margin-top: 3rem;
}
